@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Profile.IsAdminForm
@{ Layout = null; }

@if (Model.IsAdmin)
{
    <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Admin View
    </a>
}
