@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Profile.IsAdminForm
@{ Layout = null; }

@if (Model.IsAdmin)
{
	<li>@Html.ActionLink("View site as admin", "Index", "Home", new { area = "Admin" }, new { })</li>
}
