@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.DiscussionForm

<style>
    .myMessageBox {
        position: relative;
        background-color: transparent;
        margin-left: 15px;
        padding-top: 3px;
    }

    .myMessage {
        background-color: white;
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 4px;
        padding-left: 10px;
        padding-top: 10px;
		padding-bottom: 5px;
    }

	.hidden {
		display: none;
	}

	.multiligneText {
		white-space: pre-wrap;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.whiteblock {
		background-color: white;
		border-style: solid;
		border-color: lightgray;
		border-width: 1px;
		border-radius: 4px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

	.longtext {
		width: 100%;
	}

	.right {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.rel {
		position: relative;
	}

	.anchor {
		position: relative;
		top: -55px;
	}

	.myMessageBox > .myMessageBox:not(:last-child) > .blackline {
		position: absolute;
		background-color: transparent;
		width: 8px;
		height: 100%;
		top: 12px;
		left: -8px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-bottom-color: dimgray;
		border-left-color: dimgray;
		border-bottom-width: 1px;
		border-left-width: 1px;
	}

	.showButton + .myMessageBox > .blackline2 {
		position: absolute;
		background-color: transparent;
		width: 8px;
		height: 20px;
		top: -3px;
		left: -8px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-bottom-color: dimgray;
		border-left-color: dimgray;
		border-bottom-width: 1px;
		border-left-width: 1px;
	}

	.showButton + .myMessageBox > .blackline2 > .hideButton {
		background-color: white;
		border-style: solid;
		border-color: lightgray;
		border-width: 1px;
		border-radius: 7px;
		width: 14px;
		height: 14px;
		position: absolute;
		left: -7px;
	}

	.minus {
		background-color: gray;
		width: 10px;
		height: 1px;
		position: absolute;
		left: 1px;
		top: 6px;
	}

	:not(.showButton) + .myMessageBox > .blackline2 {
		display: none;
	}
	.showButton {
		background-color: #f0f0f0;
		border-style: solid;
		border-color: lightgray;
		border-width: 1px;
		border-radius: 4px;
		margin-left: 9px;
		font-size: 90%;
	}

	:not(.hideBranch) > .showButton {
		height: 0;
		width: 0;
		overflow: hidden;
	}

	.hideBranch > .myMessageBox:nth-child(n + 4) {
		height: 0;
		width: 0;
		overflow: hidden;
	}

	@@keyframes coloralert {
		from {color: red;}
		to {color: black;}
	}

	@@keyframes opacitychange {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.counter {
		animation-name: coloralert;
		animation-duration: 2s;
	}

	.gradientopacity {
		animation-name: opacitychange;
		animation-duration: 0.5s;
	}

	.AntiMargin {
		margin-left: -15px;
	}
</style>
<h3>Discussion</h3>
<div id="discussion">
	<div class="rel">
		<button onclick="refresh()" class="btn btn-default right">Refresh</button>
	</div>
    <div class="whiteblock">
		<h4>Compose new message</h4>
		<div id="SendNew">
			@{Html.RenderPartial("_SendFormTemplateRoot", new ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.SendForm
				{
					ToEmployee = Model.ToEmployee,
					ToProject  = Model.ToProject ,
					ToTask     = Model.ToTask    ,
					ToTeam     = Model.ToTeam
				});}
		</div>
	</div>
    <div id="SendFormTemplate" class="hidden">
        @{Html.RenderPartial("_SendFormTemplate", new ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.SendForm
			{
				ToEmployee = Model.ToEmployee,
				ToProject  = Model.ToProject ,
				ToTask     = Model.ToTask    ,
				ToTeam     = Model.ToTeam
			});}
    </div>
	<div id="AllMessages" class="AntiMargin">
		<div></div>
		@{Html.RenderPartial("_Messages", Model.Messages);}
	</div>
</div>


<div id="temporal" class="hidden"></div>