@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.DiscussionForm

<style>
	.myMessageBox {
		position: relative;
		background-color: transparent;
		margin-left: 15px
	}

	.myMessage {
		background-color: white;
		border-style: solid;
		border-color: lightgray;
		border-width: 1px;
		border-radius: 4px;
	}

	.hidden {
		display: none
	}

	.multiligneText {
		white-space: pre-wrap
	}

	.whiteblock {
		background-color: white;
	}

	.longtext {
		width: 100%;
	}

	.right {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.rel {
		position: relative;
	}

	.anchor {
		position: relative;
		top: -55px;
	}

	.myMessageBox > .myMessageBox:not(:last-child) > .blackline {
		position: absolute;
		background-color: transparent;
		width: 7px;
		height: 100%;
		top: 10px;
		left: -9px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-bottom-color: dimgray;
		border-left-color: dimgray;
		border-bottom-width: 1px;
		border-left-width: 1px;
	}

	.myMessageBox > .myMessageBox:nth-child(4) > .blackline2 {
		position: absolute;
		background-color: transparent;
		width: 7px;
		height: 10px;
		top: 0px;
		left: -9px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-bottom-color: dimgray;
		border-left-color: dimgray;
		border-bottom-width: 1px;
		border-left-width: 1px;
	}

	.myMessageBox > .myMessageBox:nth-child(4) > .blackline2 > .hideButton {
		background-color: lightseagreen;
		width: 10px;
		height: 10px;
		border-style: solid;
		border-color: mediumseagreen;
		border-radius: 5px;
		position: absolute;
		left: -5px;
	}
</style>
<h3>Discussion</h3>
<div id="discussion">
	<div class="rel">
		<button onclick="refresh()" class="btn btn-default right">Refresh</button>
	</div>
	@{Html.RenderPartial("_Messages", Model.Messages);}
</div>
<div class="whiteblock">
	<h4>Compose new message</h4>
	<div id="SendFormTemplate">
		@{Html.RenderPartial("_SendFormTemplate", new ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.SendForm());}
	</div>
</div>

<div id="temporal" class="hidden"></div>