@model ReseauEntreprise.Areas.Employee.Models.ViewModels.Message.DiscussionForm

@{
	ViewBag.Title = "ViewProjectDiscussion";
}

<h2>ViewProjectDiscussion</h2>
@{Html.RenderPartial("_MessagePartial_Discussion", Model);}

