
@{
    ViewBag.Title = "Calendar";
}
<script>
    $(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })

    });
</script>



<h2>Calendar</h2>

<div id='calendar'></div>