@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Lebrun Régis:</strong>   <a href="mailto:lebrunregis5@gmail.com">lebrunregis5@gmail.com</a><br />
    <strong>Moskovkina Ekaterina:</strong> <a href="mailto:katerina.moskovkina@yahoo.com">katerina.moskovkina@yahoo.com</a>
</address>