<div id="test"></div>
@section scripts
	{
	<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script>
		$(function () {
			var div = document.getElementById("test");
			var notifier = $.connection.projectHub;
			notifier.client.RefreshMessagesId = function (id) {
				div.innerText += id;
				div.innerHtml += "<br/>";
			};
			$.connection.hub.start();
		});
	</script>
}