@{
    ViewBag.Title = "Access Denied";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4" style="font-size:2vw;">You do not have access to this page at the current time.</h1>
</div>
<a href='javascript:history.go(-1)'>Back</a>