@model IEnumerable<ReseauEntreprise.Areas.Employee.Models.ViewModels.Calendar.CalendarForm>
@{
    ViewBag.Title = "Calendar";
}
<script>
    $(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            events: [
         @for (int i = 0;i<Model.Count();i++) {
             <text>{
                    title: '</text>
            @Model.ElementAt(i).Title
            <text>', start: '</text>
                @Model.ElementAt(i).StartDate.ToLongDateString()
                 <text>}</text>
             if (i == (Model.Count() - 1))
             {
                  <text>,</text>
             };
        }
            ]
        })

    });
</script>



<h2>Calendar</h2>

<div id='calendar'></div>