@{
    ViewBag.Title = "Calendar";
}
<script>
    $(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            eventSources: [

                // your event source
                {
                    url: '/myfeed.php', // use the `url` property
                    color: 'yellow',    // an option!
                    textColor: 'black'  // an option!
                }

                // any other sources...

            ]

        });
        }
</script>



<h2>Calendar</h2>

<div id='calendar'></div>