@model ReseauEntreprise.Areas.Employee.Models.ViewModels.IndexPage.IndexModel
@{
	ViewBag.Title = "Home Page";
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ProjectTeamTable.FirstOrDefault().Project)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProjectTeamTable.FirstOrDefault().Teams)
		</th>
	</tr>
	@foreach (var item in Model.ProjectTeamTable)
	{
		<tr>
			<td>
				@{ Html.RenderPartial("ProjectPartial", item.Project); }
			</td>
			<td>
				@{ Html.RenderPartial("TeamListPartial", item.Teams); }
			</td>
		</tr>
	}

</table>