@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"  style="font-size:2vw;">You are now logged in as an Admin!</h1>
    </div>
</div>